<div class="main_side_head">
    <h1 class="side_heading">{{title}}</h1>
</div>

<div class="bg_clr" style="min-height: 300px;">
    <div>
        <mat-slide-toggle>Slide Toggle 1</mat-slide-toggle>
    </div>
   <div>
    <mat-slide-toggle>Slide Toggle 2</mat-slide-toggle>
   </div>
   <div>
    <mat-slide-toggle>Slide Toggle 3</mat-slide-toggle>  
   </div>
   
</div>


<div class="buttons_main">
        <div class="button_cls button_cls1">
            <button class="btn btn-primary" (click)="previousButton()">Previous</button>
        </div>
    
        <div class="button_cls button_cls2">
            <button class="btn btn-primary" (click)="nextButton()">Next</button>
        </div>        
</div>    

