<div class="main_side_head">
    <h1 class="side_heading">{{title}}</h1>
</div>

<div class="" style="min-height: 300px;">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example shopping_cart icon">shopping_cart</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example filter_alt icon">filter_alt</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example help_outline icon">help_outline</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example thumb_up icon">thumb_up</mat-icon>
    
</div>


<div class="buttons_main">
        <div class="button_cls button_cls1">
            <button class="btn btn-primary" (click)="previousButton()">Previous</button>
        </div>
    
        <div class="button_cls button_cls2">
            <button class="btn btn-primary" (click)="nextButton()">Next</button>
        </div>        
</div>    

