<div class="main_side_head">
  <h1 class="side_heading">{{title}}</h1>
</div>

<div class="bg_clr" style="min-height: 300px;">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
 
</div>


<div class="buttons_main">
      <div class="button_cls button_cls1">
          <!-- <button class="btn btn-primary" (click)="previousButton()">Previous</button> -->
      </div>
  
      <div class="button_cls button_cls2">
          <button class="btn btn-primary" (click)="nextButton()">Next</button>
      </div>        
</div>    

