<div class="main_side_head">
    <h1 class="side_heading">{{title}}</h1>
</div>

<div class="" style="min-height: 300px;">
    <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Favorite Fruits</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(fruit)">
            {{fruit.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New fruit..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
</div>


<div class="buttons_main">
        <div class="button_cls button_cls1">
            <button class="btn btn-primary" (click)="previousButton()">Previous</button>
        </div>
    
        <div class="button_cls button_cls2">
            <button class="btn btn-primary" (click)="nextButton()">Next</button>
        </div>        
</div>    

