.main{
    text-align: center;
}
.main_heading{
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 204, 255);
    padding: 18px 0px;
    letter-spacing: 1px;

}
.router_cls{
    min-height: 300px;
}