<div class="main_side_head">
    <h1 class="side_heading">{{title}}</h1>
</div>

<div class="bg_clr" style="min-height: 300px;">
    <mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
      
      <p>
        Options selected: {{shoes.selectedOptions.selected.length}}
      </p>
    
</div>


<div class="buttons_main">
        <div class="button_cls button_cls1">
            <button class="btn btn-primary" (click)="previousButton()">Previous</button>
        </div>
    
        <div class="button_cls button_cls2">
            <button class="btn btn-primary" (click)="nextButton()">Next</button>
        </div>        
</div>    

