<div class="main_side_head">
    <h1 class="side_heading">{{title}}</h1>
</div>

<div class="bg_clr" style="min-height: 300px;">
    <mat-form-field appearance="fill">
        <mat-label>Tooltip position</mat-label>
        <mat-select [formControl]="position">
          <mat-option *ngFor="let positionOption of positionOptions" [value]="positionOption">
            {{positionOption}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div class="example-container" cdkScrollable>
        <button mat-raised-button #tooltip="matTooltip"
                matTooltip="Info about the action"
                [matTooltipPosition]="position.value"
                matTooltipHideDelay="100000"
                aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                class="example-button">
          Hover
        </button>
      </div>
</div>


<div class="buttons_main">
        <div class="button_cls button_cls1">
            <button class="btn btn-primary" (click)="previousButton()">Previous</button>
        </div>
    
        <div class="button_cls button_cls2">
            <button class="btn btn-primary" (click)="nextButton()">Next</button>
        </div>        
</div>    

